<div class="wapper">
    <div class="container">
        <div class="header">
            <div class="header-logo">
                <img
                    src="assets/image/logo.png"
                    alt=""
                >
            </div>
            <ul class="header-menu">
                <li class="header-menu-item active">
                    Digital Vaccination Record
                </li>
                <li class="header-menu-item">
                    Report
                </li>
                <li class="header-menu-item">
                    Sign in
                </li>
            </ul>
        </div>
        <div class="detail">

            <div class="header">
                <img
                    src="assets/image/logo.png"
                    alt=""
                >
            </div>


            <div class="selection">

                <div class="item">
                    <img
                        class="item-logo"
                        src="assets/image/logo.png"
                        alt=""
                    >
                </div>

                <div class="contact">

                    <ul class="contact-item">
                        <li class="contact-header">mdCAREclik</li>
                        <li> Email: info@mdcareclik.com </li>
                        <li> Website: https://mdcareclik.com/ </li>
                        <li> Hotline: 000xxx - 00xx</li>
                    </ul>
                    <div class="contact-code">
                        <img
                            class="item-logo"
                            src="assets/image/qrcode.png"
                            alt=""
                        >
                    </div>
                </div>



            </div>



            <div class="selection">

                <div class="info">
                    <ul class="info-item">
                        <li class="info-item-label">Patient Information</li>
                        <li> <b>Full Name:</b> Huyen Bui </li>
                        <li> <b>Patient ID</b> PT56282</li>
                        <li> <b>Address:</b> 15427 North</li>
                        <li> <b>Phone:</b> 123456789</li>
                        <li> <b>Email:</b> info@mdcareclik.com </li>


                    </ul>


                    <ul class="info-item">
                        <li class="info-item-label">Accession</li>
                        <li> <b>Test Kit:</b> info@mdcareclik.com </li>
                        <li> <b>Appointment ID:</b> APT94953025 </li>
                        <li> <b>Test Type</b>NAAT:RT-PCR</li>
                        <li> <b>Collected Date</b> 11-29-2020 </li>
                        <li> <b>Result Date:</b> 11-29-2020</li>
                        <li> <b>Testing Lab Name:</b> CCL</li>

                    </ul>


                    <ul class="info-item">
                        <li class="info-item-label">Physician</li>
                        <li> <b>Name of Provider:</b> Dr. Nguyen, Linh </li>
                        <li> <b>ATTN:</b> </li>
                        <li> <b>Location Name:</b> Saigon City .... </li>

                    </ul>
                </div>
            </div>

            <div class="selection">

            </div>
        </div>
    </div>
</div>