@import "../home.component.scss";
ul, li {
    list-style: none;
}


.detail{
    background: rgba($color: #999999, $alpha: 0.3);
    margin-top: 50px;
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        img {
            width: 100px;

        }
    }
    .selection{
        padding: 16px;
        display: flex;
        justify-content: space-between;
        border-top: 5px solid black;
        .contact{ 
            display: flex;
            justify-content: space-between;

            .contact-header{
                font-size: 24px ;
                color: #14B3D6;
            }
            .contact-item{
                font-size: 16px ;
                font-weight: 500 ;
               line-height: 30px;
                .label{
                    font-weight: bold !important;
                }
            }
            .contact-code{
                    img {
                        width: 100px;
                    }
            }
        }
        .item {
          
            .item-logo{
                width: 300px;
    
            }
        }
        .info {
            width: 100%;
            display: flex;
            align-items: flex-start;
            padding: 16px;

            .info-item {
                font-size: 14px ;
                font-weight: 500;
                line-height: 30px;
                margin: 0px 30px;
                .info-item-label{
                    font-size: 36px;
                    color: #14B3D6;
                    padding-bottom: 30px;

                }
                
            }
            
       
        }
    }
}


.bottom {
    border-top: 5px solid black;
    display: flex;
    padding: 20px;
    background: rgba($color: #999999, $alpha: 0.3);

    .result {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        .header{
            font-size: 54px;
            font-weight: 500;
            color: #449D44;
            text-transform: uppercase;
            line-height: 35px;
            
        }
        .text {
            font-size: 16px;
            font-weight: 500;
            padding-top: 16px;
        }
    }
}