<div class="wapper">
    <div class="container">
        <div class="header">
            <div class="header-logo">
                <img
                    src="assets/image/logo.png"
                    alt=""
                >
            </div>
            <ul class="header-menu">
                <li class="header-menu-item active">
                    Digital Vaccination Record
                </li>
                <li class="header-menu-item">
                    Report
                </li>
                <li class="header-menu-item">
                    Sign in
                </li>
            </ul>
        </div>
        <table class="table">
            <tr class="table-th">
                <th>ID</th>
                <th>Client</th>
                <th>Time</th>
            </tr>
            <tr
                class="table-td"
                routerLink="/home-detail"
            >
                <td>01</td>
                <td>Jonh</td>
                <td>20/05/2021 07:00</td>
            </tr>

        </table>

    </div>



</div>